:root {
  /* hero image gradient and blur */
  --vp-home-hero-image-background-image: none;

  /* background colour */
  --vp-c-bg: #ffffff;

  /* main accent colour (links, sidebar highlights) */
  --vp-c-brand-1: #2a62bd;
  --vp-c-brand-2: #1c4587;
  --vp-c-brand-3: #535bf2;

  /* home page brand button */
  --vp-button-brand-bg: #2a62bd;
  --vp-button-brand-hover-bg: #1c4587;
  --vp-button-brand-active-bg: #153570;
  --vp-button-brand-border: #2a62bd;
  --vp-button-brand-hover-border: #1c4587;
}

.dark {
  /* background colour in dark mode */
  --vp-c-bg: #00000f;
  --vp-home-hero-image-background-image: linear-gradient(135deg, #1c4587 50%, #2a62bd 50%);
  --vp-home-hero-image-filter: blur(35px);
}

/* hero image size */
.VPImage.image-src {
  width: 250px;
  height: auto;
}

.VPHero .image-container {
  margin-top: 30px;
}

/* hero text sizes */
.VPHero .name {
  font-size: 3.5rem;
}

.VPHero .text {
  font-size: 2.5rem;
}

.VPHero .tagline {
  font-size: 1.5rem;
}

@media (max-width: 768px) {
  .VPHero .name {
    font-size: 2.5rem;
  }

  .VPHero .text {
    font-size: 1.75rem;
  }

  .VPHero .tagline {
    font-size: 1.125rem;
  }
}

/* nav bar - light mode */
.VPNavBar {
  background-color: #ffffff !important;
  border-bottom: none !important;
}

/* divider line - light mode */
.VPNavBar.top .divider-line {
  background-color: transparent !important;
  height: 1px !important;
}

.VPNavBar:not(.top) .divider-line {
  background-color: rgba(0, 0, 0, 0.2) !important;
  height: 1px !important;
}

.VPNavBar.has-sidebar .divider-line {
  background-color: rgba(0, 0, 0, 0.2) !important;
  height: 1px !important;
}

/* nav bar - dark mode */
.dark .VPNavBar {
  background-color: #00000f !important;
}



/* divider line - dark mode */
.dark .VPNavBar.top .divider-line {
  background-color: transparent !important;
  height: 1px !important;
}

.dark .VPNavBar:not(.top) .divider-line {
  background-color: rgba(255, 255, 255, 0.1) !important;
  height: 1px !important;
}

.dark .VPNavBar.has-sidebar .divider-line {
  background-color: rgba(255, 255, 255, 0.1) !important;
  height: 1px !important;
}

/* sidebar - light mode */
.VPSidebar {
  background-color: #f6f6f7 !important;
}

/* sidebar - dark mode */
.dark .VPSidebar {
  background-color: #0c0e13 !important;
}

/* footer */
.VPFooter {
  display: block !important;
}
